*
{
    margin: 0%;
    box-sizing: border-box;
}
body
{
    font-family: Montserrat, sans-serif;
    background: radial-gradient(white,#98DDD7);
}
.navbar
{
    position: fixed;
    width: 100%;
    top: 0%;
}
.list-of-nav-items
{
    display: flex;
    background: repeating-linear-gradient(white,#98DDD7);
    box-shadow: 0px 0px 20px #84898b;
    padding: 1rem 0;
    border-radius: 0.2rem;
    align-items: center;
}
.items
{
    list-style: none;
    margin-right: 2rem;
}
.items a
{
    text-decoration: none;
    color: black;
    font-size: 110%;
    transition: all 350ms ease-in;
}
.items a:hover
{
    color: rgb(5, 47, 126);
}
.items a.active
{
    color: #9d0303;
}
.items:first-child
{
    padding-left: 1rem;
    margin-right: auto;
    margin-left: 2 rem;
}
#Product-List
{
    position: relative;
}
.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10rem;
    box-shadow: 10px 10px 50px #84898b;
}
.dropdown-content a {
    display: block;
    color: black;
    padding: 0.8rem 1rem;
    text-decoration: none;
}
.show
{
    display: block;
}
.products
{
    margin-top: 6%;
    margin-left: 1rem;
    margin-right: 1rem;
    background: radial-gradient(white,#98DDD7);
    box-shadow: 10px 10px 50px #84898b;
    padding: 2rem;
}
.product-list
{
    display: flex;
    flex-wrap: wrap;
}
.product-list li
{
    list-style: none;
    background-color: #e8f7d6;
    box-shadow: 5px 5px 18px #84898b;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1.5rem;
    flex-basis: 25%;
    justify-content: space-between;
}
.product-list li:hover
{
    background-color: rgb(133, 136, 131);
}
.product-list a
{
    text-decoration: none;
}
.product-list p
{
    color: black;
    margin-top: 1rem;
    margin-left: 1rem;
    transition: all 400ms ease-in;
}
.product-list p:hover
{
    color: white;
}
.product-title
{
    text-align: center;
    color: black;
}
.viewmore
{
    text-decoration: none;
    float: right;
    color: black;
    font-weight: bold;
    transition: all 500ms ease-in;
}
.viewmore:hover
{
    color: white;
}