*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    font-family: 'Playfair Display', serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    
}
.nav{
    flex: 1;
    text-align: right;
    
    

}

a{
    text-decoration: none;
    color: rgb(15, 14, 15);

}
.nav li{
    display: inline-block;
    margin-right: 20px;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
.col-2{
    flex-basis:50%;
    min-width:300px;

}
.col-2 img{
    max-width: 100%;
    padding:50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
p{
    font-size: 20px;
}
/* explore button property*/
.btn{
    display: inline-block;
    background:#177F54;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}
.header{

    background: radial-gradient(#fff,#5AC39E);
}
.header .row{
    margin-top: 70px;
}